body {
    height: 3000px;
    background-color: rgb(243, 239, 239);
    font-family: Arial;
}

.main-side {
    width: 600px;

    margin-left: 25px;
    margin-right: 25px;
}

.main-container {
    display: flex;
    justify-content: center;

    margin-top: 70px;
}

.main-body {
}

.post-header {
    display: flex;
    justify-content: start;
    align-items: center;

    padding: 10px 10px;
}
.post-profile-picture {
    width: 40px;
    margin-right: 8px;
}

.post-info-user {
    line-height: 20px;
}
.post-info-user .type {
    color: rgb(145, 143, 143);
}