.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: white;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 50px;

    font-size: 12px;
    z-index: 100;
}
.left-section {
    display: flex;
    align-items: center;
}
.search {
    height: 30px;
    width: 200px;

    border: none;
    border-radius: 5px;
    background-color: rgb(220, 235, 240);

    padding-left: 15px;
}

.middle-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    max-width: 500px;
}
.header-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-link img {
    width: 25px;
}
.header-profile {
    border-radius: 50%;
}

.right-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}