@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

header {
    background-color: rgb(87, 87, 87);
    color: white;
    font-size: 20px;
    height: 70px;

    text-align: center;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    z-index: 1;
}

nav, ul {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li {
    display: inline-block;
    margin: 0 50px 0 50px;
}

/* 
section {

} 
*/

main {
    width: 100%;
    height: 800px;

    position: relative;
    top: 70px;
}

.home-main {
    width: 100%;
    height: 70%;
    border: 1px solid red;

    background-image: url('img/background-genova.jpeg');
    background-size: cover;
    background-position: center;

    color: white;
    text-align: center;
}

.intro {
    font-size: 30px;
    width: 50%;
    height: 100%;
    margin: auto;
}


.services {
    width: 100%;
    height: 30%;
    border: 1px solid red;
    
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 30px;
}

.col {
    border: 1px solid red;
    width: 200px;
    height: 90%;

    margin: 0 20px;
}
.col img {
    width: 50px;
    height: 50px;
}
.col button {
    width: 60px;
    height: 30px;
    color: black;
    border: none;
    border-radius: 30px;
    background-color: rgba(224, 94, 13, 0.579);
}

footer {
    background-color: rgb(87, 87, 87);
    color: white;
    height: 40px;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}