body{
    padding: 2rem;
    font-family: 'Montserrat', sans-serif;

    background-color: rgb(228, 224, 224);
}
header{
    text-align: center;
    font-size: 25px;

    width: 60%;
    margin: auto;
}
header h1 span {
    color: rgb(121, 109, 109)
}
header hr {
    border: 2px solid black;
    width: 60%;
}

.game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}
.info-wrapper{
    text-align: center;
    margin-bottom: 20px;
}
.info-wrapper p{
    font-size: 30px;
    font-weight: 600;
}
.info-wrapper #myLabel{
    font-size: 25px;
    font-weight: 400;
}

.input-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input-wrapper #guessField{
    width: 200px;
    height: 25px;

    margin-bottom: 10px;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); 
    border-radius: 12.5px;

    text-align: center;
}
#guessField:focus{
    outline: none;
}
.input-wrapper #submitButton{
    width: 120px;
    height: 40px;
    background-color: hsla(212, 83%, 57%, 0.678);
    color: white;
    font-size: 15px;
    font-weight: 500;

    border-radius: 12.5px;
    border: none;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);

    cursor: pointer;

    transition: background-color 0.5s;
}
#submitButton:hover{
    background-color: hsla(212, 67%, 62%, 0.678);
}
