input {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 12px;
}
.first-name {
    width: 150px;
}
.last-name{
    width: 150px;
}
.email {
    display: block;
    width: 340px;
}

button {
    background-color: rgb(65, 101, 243);
    color: white;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    width: 370px;
    border-radius: 10px;
}