<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing linkedin layout</title>

    <link rel="stylesheet" href="style_tests.css">
</head>
<body>
    <main class="wrapper">
        <div class="sidebar left">
            sidebar left
        </div>

        <div class="main">
            <div class="post">
                post
            </div>

            <div class="main-content">
                main content
            </div>
        </div>

        <div class="sidebar right">
            sidebar right
        </div>
    </main>
</body>
</html>