<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Three Columns</title>

    <link rel="stylesheet" href="LayoutSimple.css">
</head>
<body>
    <section>
        <div class="wrapper">
            <div class="left-col">
                Left sidebar
            </div>

            <div class="main-col">
                Main content
            </div>
            
            <div class="right-col">
                Right sidebar
            </div>
        </div>
    </section>
</body>
</html>